@model QATool.Models.TestCase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>TestCase</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feature)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feature)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Scenario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Scenario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Environment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Environment)
    </div>

    <div class="display-label">
         Steps:
    </div>

    <table>
        <tr>
            <th>
                Step
            </th>
            <th>
                Action
            </th>
            <th>
                Expected Result
            </th>
        </tr>

        @{ViewBag.i = 1;}
        @foreach (var item in Model.Steps)
        {
            <tr>
                <td>
                    <span>@ViewBag.i</span>
                    @{ViewBag.i = ViewBag.i + 1;}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
            </tr>
        }
    </table>



    <div class="display-label">
         @Html.DisplayNameFor(model => model.Result)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Result)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BugId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BugId)
    </div>
   
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestCaseId }) |
    @Html.ActionLink("Go Back", "List", "Project", new { projectId = Model.ProjectId } , null)
</p>
