@model IEnumerable<QATool.Models.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table id="projectTable">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Jira
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td style="width : 30%">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style ="width : 40%">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>                   
                    <a href="@item.JiraURL" target="_blank" class="web" title="Visit Web"></a>
                </td>
                <td>                   
                    @Html.ActionLink(" ", "List",  new {projectId = item.ProjectId},new { @class = "testcases", title = "Test Cases"})
                    @Html.ActionLink(" ", "Edit", new { id=item.ProjectId },new { @class = "edit", title = "Edit"})
                    @Html.ActionLink(" " ,"Copy", new { projectId = item.ProjectId},new { @class = "copy", title = "Copy"})
                    @Html.ActionLink(" ", "Delete", new { id=item.ProjectId },new { @class = "delete", title = "Delete"})
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "button" })
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") 
    <script type="text/javascript">
        $('document').ready(function () {
            $('#projectTable').dataTable();
        });
    </script>
}