@model QATool.Models.Project

@{
    ViewBag.Title = @Model.Name+" - Test cases";
}

<h2>@Model.Name - Test cases</h2>

<p>
    @Html.ActionLink("Add Test", "Create", "TestCase", new { projectId = Model.ProjectId }, new { @class = "button" })
</p>
<table id="testCaseTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Scenario
            </th>
            <th>
                Feature
            </th>
            <th>
                Result
            </th>
            <th>
                BugId
            </th>
            <th>
                Comments
            </th>
            <th>
                Environment
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestCases) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestCaseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scenario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feature)
            </td>
            <td>
                    @if(item.Result == "PASSED")
                    {
                        @:<span class="greenFont">@Html.DisplayFor(modelItem => item.Result)</span>
                    }
                    else if(item.Result == "FAILED")
                    {
                        @:<span class="redFont">@Html.DisplayFor(modelItem => item.Result)</span>
                    }
                    else
                    {
                        @:<span class="defaultFont">@Html.DisplayFor(modelItem => item.Result)</span>
                    }
                    
                    
            </td>
            <td style ="text-align:center">
                @if (item.BugId != null)
                {
                    <a href="@Model.JiraURL-@item.BugId" target="_blank" class="btnnumber button">@Html.DisplayFor(modelItem => item.BugId)</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Environment)
            </td>
            <td style ="width : 130px; padding-right:0px">
                @Html.ActionLink(" ", "Edit", "TestCase", new { id = item.TestCaseId }, new { @class = "edit", title = "Edit" })
                @Html.ActionLink(" ", "Details", "TestCase", new { id = item.TestCaseId }, new { @class = "details" , title = "Details"})
                @Html.ActionLink(" ", "Delete", "TestCase", new { id = item.TestCaseId, projectId = ViewBag.projetId }, new { @class = "delete" , title = "Delete"})
            </td>
        </tr>    
        }
    </tbody>
</table>

<p>@Html.ActionLink("Back", "Index", "Project", null, new { @class = "button" } )</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval") 
    <script type="text/javascript">
        $('document').ready(function () {
            var oTable = $('#testCaseTable').dataTable();
            $('#testCaseTable').before(oTableTools.dom.container);             
        });
    </script>
}